
<footer>
	<div class="container">
  	<div class="row">
    	<div class="col-sm-12 col-md-4">
      	<h3 class="footer-title bottom-border">Site Map</h3>
        <ul class="footer-list">
         <li><a href="{site_url}">Home</a></li>
        <li><a href="{site_url}about">About</a></li>
        <li><a href="{site_url}our-work">Our Work</a></li>
        <li><a href="{site_url}blog">Blog</a></li>
        <li><a href="{site_url}contact">Contact Us</a></li>
        </ul>
      </div>      
    	<div class="col-sm-12 col-md-4">
        <div class="bg-link">
      	<h3 class="footer-title bottom-border">Our Blog</h3>
        {exp:channel:entries channel="blog" limit="3" dynamic="no"}
        <p  style="color:#fff; font-size:18px;"><a href="{site_url}blog/{url_title}">{title}</a>
        <a href="{site_url}blog/{url_title}" itemprop="url" style="color:#F7931E; font-size:18px">read more &raquo;</a>
        {/exp:channel:entries}
      </div>   
      </div>   
    	<div class="col-sm-12 col-md-4">
      	<h3 class="footer-title bottom-border">Connect With Us!</h3>
       {exp:channel:entries channel="home"  dynamic="no"}
        <ul class="list-unstyled list-inline">
          {social_icons}
          <li><a href="{social_icons:url}">
             {exp:ce_img:pair src="{social_icons:image}" crop="yes"}<img src="{made}" alt="{title}" class="img-responsive" />{/exp:ce_img:pair}</a></li>
          {/social_icons}
        </ul>
       
        {/exp:channel:entries}</p>
      </div>
    </div>
  </div>

</footer>
<div class="conatainer">
  <div class="row">
  <div class="psg-footer">
    <div class="container ">
      <div class="col-xs-6 sm-1-buffer footer-logo-container">
        <!--<div class="psg-logo-img"><img src="{site_url}images/uploads/psg-comms-logo-small.png" class="img-responsive" /></div>-->
        <div class="psg-tagline">Ireland's leading<br>creative brand communications service</div>
      </div>
          <div class="col-xs-6 text-right footer-assoc-container ">
          
          {exp:channel:entries channel="home" dynamic="1"}
           {psg_footer_icons}
         <a href="{psg_footer_icons:url}">
             {exp:ce_img:pair src="{psg_footer_icons:image}" crop="yes"}<img src="{made}" alt="{title}" class="psg-soc-icons"/>{/exp:ce_img:pair}</a>
          {/psg_footer_icons}
         {/exp:channel:entries}

         <img src="{site_url}images/uploads/prca.png" class="sm-buffer"/>
      </div>
    </div>
  </div>
  </div>
  {exp:channel:entries channel="home" limit="1" dynamic="no"}
  <div class="row psg-footer">
    <div class="container sp-foot-foot">
      <p class="text-center sp-footer-content">{footer_copyright}</p>
    </div>
</div>
{/exp:channel:entries}
</div>