 <!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Jquery for fixed navbar -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{site_url}js/bootstrap.min.js"></script>
<script src="{site_url}js/init.js"></script>
<script src="{site_url}js/jquery.lettering-0.6.1.min.js"></script>




{if (segment_1=="our-work") OR (segment_1=="blog")}
<script src="{site_url}/js/jquery.fancybox.js"></script>
<script type="text/javascript">
	$(document).ready(function() {$(".fancybox").fancybox();});
</script>
{/if}

<script>
$(document).ready(function() {
  $(".footer-title").lettering('words');
});
</script>

{if segment_1==""}
<script>
$(document).ready(function () {

		var navbar = $('.navbar');
		var origOffsetY = 75;

		function scroll() {
			if ($(window).scrollTop() >= origOffsetY) {
					$('.navbar').addClass('navbar-fixed-top');
					$('.content').addClass('menu-padding');
					$('.branding').addClass('animated tada');
			} else {
					$('.navbar').removeClass('navbar-fixed-top');
					$('.content').removeClass('menu-padding');
					$('.branding').removeClass('animated tada');
			}
		}
		document.onscroll = scroll;
		
});
</script>
{if:else}
<script>
$(document).ready(function () {

	var navbar = $('.navbar');
		var origOffsetY = 75;

		function scroll() {
			if ($(window).scrollTop() >= origOffsetY) {
					$('.navbar').addClass('navbar-fixed-top');
					$('.content').addClass('menu-padding');
					$('.branding').addClass('animated tada').delay(300);
			} else {
					$('.navbar').removeClass('navbar-fixed-top');
					$('.content').removeClass('menu-padding');
					$('.branding').removeClass('animated tada').delay(300);
			}
		}
		document.onscroll = scroll;
		

});

</script>
{/if}





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55598750-2', 'auto');
  ga('send', 'pageview');

</script>




















