<div class="navbar navbar-fixed " role="navigation" >
	<div class="container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{site_url}"><img src="{site_url}images/uploads/NotoriousOrange.png" width="174" class="img-responsive branding"/></a>

    </div>
		
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{site_url}">Home</a></li>
        <li><a href="{site_url}about">About</a></li>
        <li><a href="{site_url}our-work">Our Work</a></li>
        <li><a href="{site_url}blog">Blog</a></li>
        <li><a href="{site_url}contact">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</div>
