<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Creative Brand Communications">
<meta name="rights" content="Notorious &copy; 2017" />
<meta name="robots" content="index,follow,archive" />
<meta name="geo.placename" content="Republic of Ireland" />
<meta name="geo.region" content="IE" />
<link rel="shortcut icon" href="{site_url}images/uploads/favicon.ico">

<title>Notorious</title>

<!-- Bootstrap core CSS -->
<link href="{site_url}css/bootstrap.min.css" rel="stylesheet">
<link href="{site_url}css/animate.css" rel="stylesheet">


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,900' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="{site_url}css/custom.css" rel="stylesheet">
<link href="{site_url}css/font-awesome.min.css" rel="stylesheet">
{if (segment_1=="our-work") OR (segment_1=="blog")}
		<link href="{site_url}css/jquery.fancybox.css" rel="stylesheet">
{/if}
