@charset "UTF-8";
/* CSS Document */


.gallery{
  float: left;
  margin-right:-30px;
  margin-left:40px;
  margin-top: 10px;
  border:3px solid #fafafa;
  box-shadow: 3px 3px 2px #888888;


}

.psg-soc-icons{
  margin-top: 20px;
  margin-right: 15px;
}


.case-study-page-image, .blog-page-image {
  margin-top: 20px;
  overflow: hidden;
  /*height: 180px;*/
}

.sp-footer-content {
  margin-top: 10px;
  font-size: 13px;
}

.sp-foot-foot {
  
  border-top: 1px solid #eee;
}


footer-p a.bg-link {
  color: :#fff !important;
}

.psg-logo-img {
float: left;
margin-right: 10px;
}
.psg-tagline {
  margin-top: 15px;
  font-weight: bold;
  float: left;
}

.big-title{
  font-size: 60px;
}



/******************* Padding classes ****************/

.no-pd-right{
  padding-right: -5px;
}


.no-pd-left{
  padding-left:0px;
  padding-right:25px;
}
.no-pd{
  padding-left:10px;
  padding-right:15px;
}
.container.no-pd{
  padding-left:0px;
}




.container.no-pd-bg{margin-left:-30px;}


/******************* Padding classes ****************/
.case-study-page-image:hover .case-study-image-title, .case-study-page-image:focus .case-study-image-title, .blog-page-image:hover .blog-image-title, .blog-page-image:focus .blog-image-title {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 96%;
    height: 200px;
    padding: 20px 25px;
    background-color:#F7931E;
  }
    .ns-listing:hover .case-study-image-title, .ns-listing:hover .blog-image-title {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 90%;
    height: 130px;
    padding: 20px 25px;
    background-color: #F7931E;
  }
  .case-study-image-title {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    
    padding: 5px 25px;
    background-color: #F7931E;
    width: 100%;
  }
.case-study-image-title, .blog-image-title {
  display:none;
}
a .case-study-image-title, a .blog-image-title {
  color: #fff;
}
a .case-study-image-title, a .blog-image-title {
  font-size: 20px;
}
h3.n-col{
  color:#F7931E;
background-color:#333;width:109%;}
}

.cta-txt{
  font-size: 20px;
}
.related {
  margin-top: 5px;

}
.related h3 {
  background-color: #333;
  padding: 5px 10px;
}

.psg-footer {
  background: url('../images/uploads/section-1-4-bg.png');
}
.panel {
margin-bottom: 20px;
background-color: #fff;
display: inline-block;

    height: 100%;
    vertical-align: middle;}
    .panel-thumbnail {vertical-align: middle; width: 100%;}

.scroll-text {
  width:1200px;
  height: 200px;
  overflow: hidden;
  font-size: 50px;



}
.scroll-text ul {
  text-align: center;
  width: 1200px;
  height: 200px;
  overflow: hidden;
  margin: 0;
  list-style-type: none;
}
.scroll-text ul li {
  text-align: center;
  height:30px;
  list-style-type: none;
}


.row{margin:0;}

body { 
	font-family: 'Merriweather', serif;
	font-weight:100;
	font-size:16px;
  opacity: 1;
}


h1,h2,h3,h4,h5 { font-weight:900;}
h1{font-size:40px;}
.no-gutter [class*="-6"] {
	padding-left:0;
    padding-right:0;
}

.headline{
  font-size: 25px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.img-respond{
display: inline-block;
max-width: 100%;
height: auto;
}

.n-btn{
  background-color:#f7931d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7931d), color-stop(50%, #f7931d), color-stop(50%, #f7931d), color-stop(100%, #3d5691));
  background-image: -webkit-linear-gradient(top, #f7931d 0%, #f7931d 50%, #f7931d 50%, #f7931d 100%);
  background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  border: 1px solid #666666;
  border-bottom: 1px solid #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #666666;
  -moz-box-shadow: inset 0 1px 0 0 #666666;
  box-shadow: inset 0 .5px 0 0 #666666;
  color: #fff;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 120px;
  margin-top:20px;}

  .btn:hover {
    background-color: #7f8dad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
    background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    cursor: pointer; }
  .btn:active {
    -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white; }

/*********************** HOMEPAGE SECTIONS SLIDES **************************/



#our-work{
    margin: auto;
    padding-bottom: 100px;
    position: relative;
    background:url(../images/uploads/homepage-neon.jpg) fixed ;
    background-repeat: no-repeat !important;
    background-position:center;
    background-size: cover;
    height: 100%;
    
}
.tagline-tear {
  position: relative;
  top: 0;
  height: 120px;
  margin-top:15px;
  background-color: transparent;
  background-image: url('../images/uploads/notorious-tear.png');
  background-repeat: no-repeat;
  z-index: 99;
  overflow: visible;
  padding-bottom: 100px;
}
#top-section{
    position: relative;
    background:url(../images/uploads/top-section.png) fixed ;
    background-position: top;
    background-size: 100% 150px;
    display: block;
    margin-top: 50px;
height: 100%;

    
}





#about{
    background:url(../images/uploads/homepage-street.jpg) fixed;
    background-repeat: no-repeat;
    background-position:center top !important;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;


}
#testimonials{
    background-position:center top !important;
    background: url(../images/uploads/homepage-stacks.jpg)fixed no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

#dna{
   background:url(../images/uploads/dna-bg.png) fixed;
    background-repeat: no-repeat;
    background-position:center top !important;
    background-size: cover;
    height: 500px;
    margin: 0 auto;
    position: relative;

}
.bg-dna-2{background: url(../images/uploads/dna-large.png)no-repeat fixed;}
.dna-1{background: url(../images/uploads/dna-small.png) no-repeat fixed;}

/*********************** BRUSH STROKES BORDER **************************/

.top-brush-stroke{
    background: url(../images/uploads/brush-stroke-top.png) no-repeat;
    background-position: top;
    background-size: 100% 150px;
    display: block;
    margin-top: 50px;

}
.bottom-brush-stroke{
    background: url(../images/uploads/brush-stroke-bottom.png) no-repeat;
    background-position: bottom !important;
    background-size: 100%;
    display: block;
    position: relative;
    height: 8px;
}

/*buffers*/
.top-buffer {   margin-top:80px;}
.md-buffer{margin-top:30px;}
.bottom-buffer {    margin-bottom:33px;}
.left-buffer {  margin-left:20px;}
.right-buffer { margin-right:20px;}
.category-buffer { margin-top:5px;}
.md-bottom-buffer{margin-bottom:15px;}
.sm-buffer{margin-top:10px;}
.sm-1-buffer{margin-top:12px;}

/*********************** NAVBAR **************************/

.navbar {
    border-bottom:1px solid #ccc;
    -moz-box-shadow:3px 2px 3px rgba(0,0,0,0.10);
    -webkit-box-shadow:3px 2px 3px rgba(0,0,0,0.10);
    box-shadow:3px 2px 3px rgba(0,0,0,0.10);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=2,Color=#26000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=2,Color=#26000000,Positive=true);
    font-size:20px;
    background-color:#fff;
    margin-bottom: 0;
}
.navbar-padding {padding-top:20px;}
.navbar a { color:#636363;}
.nav>li>a {padding:30px 15px;}
.nav>li>a:hover, .nav>li>a:focus {background:#f7931d; color:#fff;}

/*toggle*/
.navbar-toggle, .icon-bar {color:#f7931d;border:1px solid;}
.dna-title{font-size: 60px; }
.branding{visibility: hidden;margin-top: 20px;}

.navbar-fixed-top .branding{visibility: visible; margin-top:10px; }

.ns-banner-menu {
  background-color: #333;
  width: 100%; 
  /*margin-left: 0px;
  margin-right: 0px;*/
}
.ns-banner-menu a {
  color: #eee;
  padding: 15px 10px;
  display: inline-block;
}
.ns-banner-menu a:hover, .ns-banner-menu a:focus {
  color: #333;
  background-color: #f4f4f4;
  text-decoration: none;
}
.ns-banner-menu a .nav-banner-active {
  color: #51214c;
  background-color: #fff;
}

/*********************** MAIN PAGE CONTENT HOLDER **************************/
.content-holder{
    margin-top: 150px;
    display: inline-block;
    background-image: url(../images/uploads/pattern-content.png);
    background-repeat: repeat;
    padding:0 20px 20px 20px;
    width: 100%;
    height: 100%;
    bottom: 0;
    }
 

/*********************** FOOTER **************************/
footer {
    background:url(../images/uploads/footer-bg.jpg) repeat;
    font-size:20px;
    padding-bottom:50px;
}
.bg-link a {   color:#fff;}
ul.footer-list li a {   color:#fff;}
ul.footer-list { 
    color:#F7931D;
    padding-left: 20px;
}
h3.footer-title span:last-child {
  color: #F7931E;
}
.bottom-border {
  padding-bottom:8px;
  background:url(../images/uploads/header-underline.png) no-repeat bottom left;
}

/*********************** CAROUSEL **************************/




.carousel .slide{
  
     padding: 40px;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-inner{margin-bottom: 20px;bottom:50px;}
.carousel-inner .item img {
    height:100%;
    width:100%;
    
}

.carousel-indicators {
    bottom:5px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background: #333;
}
    

}
.carousel-indicators .active {
    background:#F7931D;
    border-color:#666;
    border-radius: 10px;
    height:15px;
    width:15px;
}
 
.carousel-control {
    bottom:12px;
    color:#333;
    left:auto;
  opacity: 1;
    padding: 4px 0;
    top:50%;   
    width:26px;
}
.carousel-caption p{font-size: 20px;}
.carousel-caption {
    bottom:20%;
    height: 100%;
    left:10%;
    right:50%;
    width: 80%;
    position: relative;
    text-shadow:none;
}
.carousel-caption h1 {
    font-size:60px;
    font-style:italic;
    color: #333;
    text-align: center;
}

/** carousel navigation icons **/
.carousel-control.right {
    right:10px;
}
 
.carousel-control.left {
    left:10px;
}
.item{text-align: left;color:#333; padding-top: 20px; display: block;}
.item.active{text-align: left;color:#333; padding-top: 20px;}

.fa-arrow-left,.fa-arrow-right{color:#fff;}
.fa-arrow-right:hover,.fa-arrow-left:hover {color:#666;}


/***********************CASESTUDIES **************************/


/*********************** TESTIMONIALS SECTION **************************/

/*.testimonials{
    height: 350px;
    width: auto;
    background-position:center bottom !important;
    background: url(../images/uploads/dublin-city-centre.png)fixed no-repeat;
}*/

/** Speed Bubble **/

p.speech{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: auto;
    color:#fff;
    height: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-color: #333;
    border: 5px solid #333;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.9;

}

p.speech:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 175px;
    border: 20px solid;
    border-color: #333 transparent transparent #333;
}
p.speech:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 175px;
    border: 10px solid;
    border-color: #333 transparent transparent #333;
}

/** Quottation Styles **/
q{
  display:block;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 22px;
  font-style: italic;
  color: #fff;
  text-align: center;
  
 
}

q::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #f7931d; 
  /*Positioning*/
  position: relative;
  top:18px;
}

q::after{
  /*Reset to make sure*/
 content: "\201D"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #f7931d; 
  /*Positioning*/
  top:18px;
  position: relative;
}

q a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  color: #c76c0c;
}

q a:hover{
 color: #666;
}

q em{
  font-style: italic;
}

/*********************** DNA SECTION **************************/







/*********************** ABOUT US **************************/



p.big-letter::first-letter{
     float: left; 
     color:#F8A94F; 
     font-size: 85px; 
     line-height: 40px; 
     padding-top: 4px; 
     padding-right: 8px;
    padding-left: 3px;
}


.title{font-size:60px;}






/* misc ? */
.notorious-blog-list .col-sm-6:nth-child(2n+3) {
  clear: left;
}
.notorious-blog-list img {
  width: 100% !important;
}

/*********************** Media Queries **************************/


@media (max-width: 439px) {
    #our-work{height: 50%;}
    .content-holder{height: auto;}



    p.speech:before{top: 210px;}
    p.speech:after{top: 210px;}
    .carousel-control.left{ left:0px;}
    p.speech{left:5px;}
   
    #about{margin: 0 auto;padding: 20px 0;position: relative;height:100%; } 
    #testimonials{position: relative; height: 60vh;}
   .bottom-brush-stroke{height: 7px;}
   .panel {
margin-bottom: 20px;
background-color: #fff;
display: inline-block;
width:50%;
    height: 100%;
    vertical-align: middle;}

  .case-study-image-title {
display: inline-block !important;
position: absolute;
top: 0;
left: 0;

padding: 5px 25px;
background-color: #F7931E;
width: 96%;}
}









@media (min-width: 440px) {
    #our-work{  height: auto;}
    #testimonials{position: relative; height: 100%;}
     .content-holder{height: auto;}
   .panel {
margin-bottom: 20px;
background-color: #fff;
display: inline-block;
width:50%;
    height: 100%;
    vertical-align: middle;}
}
    a .case-study-image-title, a .blog-image-title {
  font-size: 15px;
} 

}

@media (min-width: 767px;){
.case-study-image-title{ display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 45px;
    margin-top: 30px;
    padding: 5px 25px;
    background-color: #F7931E;
    width: 60%;}

.ns-listing, .ns-listing h3{margin-left: -15px;}

.ns-listing a img{
  width: 90%;
  margin-left: 30px;
  height: 100%;
}
.ns-listing:hover .case-study-image-title{
  display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 45px;
    width: 70%;
    height: 70%;
    background-color: #F7931E;
}
#our-work-cs{
  margin-top: 40px;
}
.ns-listing p{
  width: 70%;
  height: 70%;
}

}

@media (min-width: 768px) {
  .lead{font-size:19px;}

  .case-study-page-image:hover .case-study-image-title, .case-study-page-image:focus .case-study-image-title, .blog-page-image:hover .blog-image-title, .blog-page-image:focus .blog-image-title {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 96%;
    height: 200px;
    padding: 20px 25px;
    background-color: #F7931E;  }
    .ns-listing:hover .case-study-image-title, .ns-listing:hover .blog-image-title {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
   background-color: #F7931E;
  }
  .case-study-image-title{

  }

   a .blog-image-title {
  font-size: 15px;}
  
 }

#our-work .content-holder{height: 50%}
}





@media (min-width: 700px) {

  .panel {
margin-bottom: 20px;
background-color: #fff;
display: inline-block;

   height: 100%;
  vertical-align: middle;}

  
}
@media (min-width: 900px) {
     p.speech{margin-top: 80px;}
     .carousel-control.left,.carousel-control.right{ top:225px;}
    .content-holder{
    height: auto;
    }
        .panel {
margin-bottom: 10px;
background-color: #fff;
display: inline-block;

    height: 100%;
    vertical-align: middle;
}


}
@media (min-width: 970px)  {
     p.speech{margin-top: 80px;}
     .carousel-control.left,.carousel-control.right{ top:225px;}
    .bottom-brush-stroke{height: 20px;}
     .content-holder{height:auto;}
     #about{margin: 0 auto;padding: 20px 0;position: relative; height:100%; }
      .panel {
margin-bottom: 20px;
background-color: #fff;
display: inline-block;
width:50%;
    height: 100%;
    vertical-align: middle;
 }


}
@media (min-width: 992px) {
    p.speech{margin-top: 80px;}
     .carousel-control.left,.carousel-control.right{ top:225px;}
     .content-holder{height: auto;}
    #our-work .content-holder{height: 500px;}
    .panel {
margin-bottom: 20px;
background-color: #fff;
display: inline-block;
width:80%;
    height: 100%;
    vertical-align: middle;
  }

}
@media (min-width: 1200px) {
.row.no-gutter {margin-right: 0; margin-left: 0;}
.bottom-brush-stroke{height: 20px;margin-top:0px;}
#our-work{background-size: cover;height: 100%;}
p.speech{margin-top: 70px;}
.content-holder{height: auto;}
#our-work .content-holder{height: auto;}
 #about{margin: 0 auto;padding: 20px 0;position: relative; height:100%; }
 
  .psg-tagline {
    font-size: 1.2em;

  }
}





@media (max-width:520px) {
  .footer-logo-container, .footer-assoc-container {
    width: 100%;
  }
  .footer-assoc-container img, .footer-logo-container img {
    float: left;
  }
  .carousel-caption {
    bottom:20%;
    height: 100%;
    left:10%;
    right:50%;
    width: 80%;
    position: relative;
    text-shadow:none;
}
.carousel-caption h1 {
    font-size:25px;
    font-style:italic;
    color: #333;
    text-align: center;
}
#dna{height: 380px;}
.dna-title{font-size:25px; }


 .ns-listing:hover .blog-image-title {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    width: 60%;
    height: 60%;
    padding: 20px 25px;
    background-color: #F7931E;
  }

h3.n-col{background-color:#333;width:70%;}

.dropdown-menu>li>a:hover {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color:#F7931E;


}

.ns-listing, .ns-listing h3{margin-left: -15px;}

.ns-listing a img{
  width: 90%;
  margin-left: 15px;
  height: 100%;
}
.ns-listing:hover .case-study-image-title{
  display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25px;
    width: 70%;
    height: 70%;
    
    background-color: #F7931E;
}
#our-work-cs{
  margin-top: 20px;
}
.ns-listing p{
  width: 70%;

}

p.dna-mb{
  font-size:12px;
  font-weight:300;
}
.fa-arrow-left,.fa-arrow-right{color:#fff; font-size: 30px;}
.fa-arrow-right:hover,.fa-arrow-left:hover {color:#666;font-size:30px;}

.fa {
font-size: 20px !important;
}

.pd-left-mob{
  padding-left: 40px;
}
.pd-btm-mob{
  padding-bottom: 5px;
}
.img-respond{
display: inline-block;
max-width: 70%;
height: auto;
margin-top: 30px;
}
.headline{
  font-size: 16px;
  font-weight: 100;
}
.title{
  font-size: 40px;
}

.case-h1-mob{
  font-size: 28px;
}
.psg-soc-icons{
  margin-top: 35px;

}
}












